﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Fotoware.EPiServer.ImageProperty.modules.FotowebSettings" %>
<div class="epi-padding">
    <div class="epi-formArea">
        <asp:Label runat="server" AssociatedControlID="Username">Fotoweb username</asp:Label>
        <asp:TextBox runat="server" ID="Username" />
    </div>
</div>
